/* Floating Action Button */
/* .fixed-button {
    content:'+';
background-color: #FF2434;
color: #FFFFFF;
border: none;
outline: none;
position: fixed;
bottom: 0px;
right: 15px;
height: 50px;
width: 50px;
margin-bottom: 20px;
border-radius: 30px;
box-shadow: 1px 3px 5px #888888;
} */

.fixed-button {
	z-index: 1;
}


@keyframes wobble {
16.65% {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
}
33.3% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}
49.95% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
}
66.6% {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
}
83.25% {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
}
100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
}

.wobble {
-webkit-animation-name: wobble;
animation-name: wobble;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-timing-function: ease-in-out;
animation-timing-function: ease-in-out;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
}



/* Floating Button Whatsapp */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.float-coba {
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  	font-size:30px;
	box-shadow: 2px 2px 3px #999;
  	z-index:100;
}

.my-float{
	margin-top:5px;
	font-size:30px;
}



/*  */

.fixed-button {
/* content:'+'; */
background-color:#25d366;
/* color: #FFFFFF; */
border: none;
outline: none;
position: fixed;
bottom: 0px;
right: 15px;
height: 50px;
width: 50px;
margin-bottom: 20px;
border-radius: 30px;
box-shadow: 1px 3px 5px #888888;
}


/* CARD IFRAME GOOGLE MAPS */
.gede {
	display: inline-block;
}

.kecil {
	width: 50%;
}


/* Footer */

#sticky-footer {
	flex-shrink: none;
  }



/* FOOTER ALTERNATIVe */

footer{
     background-color: #33383c;
     padding:30px 0px;
}	       


.address li, .menu li{
    margin:20px 0px;
    list-style: none;
}

/* UL tag */
.address {
	margin:20px 0px;
    list-style: none;
}


.footer-title {
	color: #FFF; 
	font-weight: bold; 
	border-bottom: 1px solid #c7c7c7; 
	padding:10px 0px;
	/* display: block; */
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 3px;

}


/* CAROUSEL */
  /* Make the image responsive */
.carousel-inner img {
	width: 90%;
	height: 30%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
height: 60px;
width: 60px;
outline: black;
background-size: 50%, 50%;
border-radius: 20%;
/* border: 1px solid black; */
/* background-image: none; */
background-color: black;
}

.carousel-control-next-icon:after
{
/* content: '>'; */
font-size: 55px;
color: red;
/* background-color: black; */
}

.carousel-control-prev-icon:after {
/* content: '<'; */
font-size: 55px;
color: red;
}


/* #footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
  } */




  /* BEFOREAFTER JS */

  .heading-font {
	font-family: "Righteous", sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
 }

  .beer-slider[data-beer-label]:after,
.beer-reveal[data-beer-label]:after {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.75rem;
	font-weight: bold;
	color:#333;
}

.beer-slider {
    box-shadow: 0 12px 16px -8px black;
}

.beer-slider {
	display: inline-block;
	position: relative;
	overflow: hidden; }
	.beer-slider *, .beer-slider:before, .beer-slider:after,
	.beer-slider *:before,
	.beer-slider *:after {
	  box-sizing: border-box; }
	.beer-slider img, .beer-slider svg {
	  vertical-align: bottom; }
	.beer-slider > * {
	  height: 100%; }
	.beer-slider > img {
	  max-width: 100%;
	  height: auto; }
  
  .beer-reveal {
	position: absolute;
	left: 0;
	top: 0;
	right: 50%;
	overflow: hidden;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.35s; }
	.beer-reveal > :first-child {
	  width: 200%;
	  max-width: none;
	  height: 100%; }
	.beer-reveal > img:first-child {
	  height: auto; }
  
  .beer-range {
	position: absolute;
	z-index: 2;
	top: 0;
	bottom: 0;
	height: 100%;
	margin: 0;
	left: -1px;
	width: calc(100% + 2px);
	cursor: pointer;
	-webkit-appearance: slider-horizontal !important;
	-moz-appearance: none;
	opacity: 0;
	-ms-touch-action: auto;
	touch-action: auto; }
	.beer-range::-webkit-slider-thumb {
	  -webkit-appearance: none;
	  height: 300vh; }
	.beer-range::-moz-range-thumb {
	  -webkit-appearance: none;
	  height: 300vh; }
	.beer-range::-ms-tooltip {
	  display: none; }
  
  .beer-handle {
	position: absolute;
	z-index: 2;
	pointer-events: none;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	color: #000;
	background: rgba(255, 255, 255, 0.5);
	width: 48px;
	height: 48px;
	border-radius: 50%;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0);
	transition: background 0.3s, box-shadow 0.3s, opacity 0.5s 0.25s; }
	.beer-handle:before, .beer-handle:after {
	  content: '';
	  position: absolute;
	  width: 10px;
	  height: 10px;
	  top: 50%;
	  border-top: solid 2px;
	  border-left: solid 2px;
	  transform-origin: 0 0; }
	.beer-handle:before {
	  left: 10px;
	  transform: rotate(-45deg); }
	.beer-handle:after {
	  right: 0;
	  transform: rotate(135deg); }
  
  .beer-range:focus ~ .beer-handle {
	background: rgba(255, 255, 255, 0.85);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4); }
  
  .beer-slider[data-beer-label]:after,
  .beer-reveal[data-beer-label]:after {
	content: attr(data-beer-label);
	position: absolute;
	top: 1.5rem;
	line-height: 1;
	padding: 0.5rem;
	border-radius: 0.125rem;
	background: rgba(255, 255, 255, 0.75); }
  
  .beer-slider[data-beer-label]:after {
	right: 1.5rem; }
  
  .beer-reveal[data-beer-label]:after {
	left: 1.5rem; }
  
  .beer-slider[data-beer-label=""]:after,
  .beer-reveal[data-beer-label=""]:after {
	content: none; }
  
  .beer-ready .beer-reveal, .beer-ready .beer-handle {
	opacity: 1; }
  
  